<div class="footer bg-primary">
  <div class="container-moble d-lg-none d-flex flex-column align-items-center">
    <a href="#"><img src="../assets/images/logo-sec.svg" alt="logo-dark" /></a>
    <div class="footer-content">
      <p>©2024 HikeMate</p>
      <p>本網站僅供學習使用,無任何商業用途,圖片來源請見GitHub Repo</p>
    </div>
  </div>
  <div class="container d-none d-lg-block">
    <div
      class="footer-lg align-items-center d-lg-flex justify-content-lg-between"
    >
      <a href="#"
        ><img src="../assets/images/logo-sec.svg" alt="logo-dark"
      /></a>
      <div class="footer-content">
        <p>©2024 HikeMate</p>
        <p>本網站僅供學習使用,無任何商業用途,圖片來源請見GitHub Repo</p>
      </div>
    </div>
  </div>
</div>
