<footer class="footer bg-primary">
  <div class="container">
    <div class="footer-main d-flex">
      <a href="#" class="logo-sec"
        ><img src="../assets/images/logo-sec.svg" alt="logo-sec"
      /></a>
      <ul class="footer-scri">
        <li>©2024 HikeMate</li>
        <li>本網站僅供學習使用,無任何商業用途,圖片來源請見GitHub Repo</li>
      </ul>
    </div>
  </div>
  <!-- <a href="#" class="move_homepage position-absolute"><img src="" alt=""></a>position-relative -->
</footer>
