<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <h1 class="index-title">我是首頁</h1>

    <div class="card" style="width: 18rem">
      <img src="../assets/images/cat.jpg" class="card-img-top" alt="cat" />
      <div class="card-body">
        <h5 class="card-title">卡片元件</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, odit,
          iusto odio assumenda alias id nobis earum!
        </p>
      </div>
    </div>
<!-- 痛點及產品優勢區 -->
<div class="pain-points">
  <div class="container">
    <h3 class="point-title"><span style="color: rgba(68, 81, 60, 1);">HikeMate</span> 您的專屬登山夥伴</h3>
    <p class="point-subtit">您是否遇到以下問題？</p>
    <ul class="point-item">
      <li class="point-icon"><img src="../assets/images/無合適登山夥伴.svg" alt="無合適登山夥伴" width="224px" height="224px"><div class="point-text"><p class="pain-points-main">找不到合適的登山夥伴</p><p class="pain-points-subScri">想要找人一起登山,<br>但身邊的朋友不是太忙就是興趣不合。</p></div></li>
      <li class="point-icon"><img src="../assets/images/缺乏可靠登山資訊.svg" alt="缺乏可靠登山資訊" width="224px" height="224px"><div class="point-text"><p class="pain-points-main">缺乏可靠的登山資訊</p><p class="pain-points-subScri">網上資訊繁雜,<br>難以找到真實可靠的登山路線和經驗分享。</p></div></li>
      <li class="point-icon"><img src="../assets/images/沒有山友獨家社群.svg" alt="沒有山友獨家社群" width="224px" height="224px"><div class="point-text"><p class="pain-points-main">沒有山友的獨家社群</p><p class="pain-points-subScri">登山過程中的美景和挑戰,<br>無法與更多志同道合的人分享。</p></div></li>
    </ul>
      
    </div>
  </div>
</div>
<div class="advantages">
  <div class="container">
    <h3 class="point-title"><span style="color: rgba(68, 81, 60, 1);">HikeMate</span> 幫您解決這些問題</h3>
    <ul class="advantages-cards">
      <li class="advantages-card"><img src="../assets/images/快速揪團.svg" alt="快速揪團" width="224px" height="224px"><p class="advantages-scri">快速揪團</p></li>
      <li class="advantages-card"><img src="../assets/images/可靠的登山訊息.svg" alt="可靠的登山訊息" width="224px" height="224px"><p class="advantages-scri">可靠的登山訊息</p></li>
      <li class="advantages-card"><img src="../assets/images/透明的夥伴資訊.svg" alt="透明的夥伴資訊" width="224px" height="224px"><p class="advantages-scri">透明的夥伴資訊</p></li>
      <li class="advantages-card"><img src="../assets/images/分享美好的瞬間.svg" alt="分享美好的瞬間" width="224px" height="224px"><p class="advantages-scri">分享美好的瞬間</p></li>
    </ul>
    <div class="advantages-navbar">
      <p class="advantages-navbar-scri">加入 HikeMate,享受純粹、專業的登山體驗!</p>
      <div class="advantages-btn"><a href="#">我要揪團</a></div>
      <div class="advantages-btn join-btn"><a href="#">我要跟團</a></div>
    </div>
  </div>
</div>

<!-- 痛點及產品優勢區 -->
    <!-- Modal 按鈕 -->
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      打開 modal
    </button>

    <!-- Modal 元件 -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal 標題</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">內容</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              關閉
            </button>
            <button type="button" class="btn btn-primary">確定</button>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
